<section>
    <div class="nav m-3 justify-content-center ">
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" class="fs-4"
            aria-controls="offcanvasScrolling" (click)="openOffCanvas()"><i class="bi bi-justify-left"></i></a>
        <div class="ms-auto">
            <ul class="d-flex list-unstyled  ;">
                <li class="px-3 bell" data-bs-toggle="dropdown" aria-expanded="false"><a href="#"
                        class="position-relative"><i class="bi bi-bell"></i><span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                            4</span></a>

                </li>
                <li class="px-3" data-bs-toggle="dropdown" aria-expanded="false"><a href="#"><i
                            class="bi bi-chat-left"></i></a>
                    <ul class="dropdown-menu  p-0">
                        <li class="text-center py-2">4 New Messages</li>
                        <hr>
                        <li class="d-flex align-items-center px-3 py-2 chat-dropdown">
                            <img src="../../assets/avatar.jpg" alt="" height="30px" width="30px"
                                class="rounded-circle me-3">
                            <div>
                                <h6 class="m-0">Kowdi Raju</h6>
                                <p class="small">My name is Kowdi Raju. Am a webDeveloper.</p>
                                <p class="small">15m ago</p>
                            </div>
                        </li>
                        <hr>
                        <li class="d-flex align-items-center px-3 py-2 chat-dropdown">
                            <img src="../../assets/avatar.jpg" alt="" height="30px" width="30px"
                                class="rounded-circle me-3">
                            <div>
                                <h6 class="m-0">Kowdi Raju</h6>
                                <p class="small">My name is Kowdi Raju. Am a webDeveloper.</p>
                                <p class="small">15m ago</p>
                            </div>
                        </li>
                        <hr>
                        <li class="d-flex align-items-center px-3 py-2 chat-dropdown">
                            <img src="../../assets/avatar.jpg" alt="" height="30px" width="30px"
                                class="rounded-circle me-3">
                            <div>
                                <h6 class="m-0">Kowdi Raju</h6>
                                <p class="small">My name is Kowdi Raju. Am a webDeveloper.</p>
                                <p class="small">15m ago</p>
                            </div>
                        </li>
                        <hr>
                        <li class="d-flex align-items-center px-3 py-2 chat-dropdown">
                            <img src="../../assets/avatar.jpg" alt="" height="30px" width="30px"
                                class="rounded-circle me-3">
                            <div>
                                <h6 class="m-0">Kowdi Raju</h6>
                                <p class="small">My name is Kowdi Raju. Am a webDeveloper.</p>
                                <p class="small">15m ago</p>
                            </div>
                        </li>
                        <hr>
                        <li class="text-center small py-2"><a class="dropdown-item p-0" href="#">Show all
                                messages</a>
                        </li>
                    </ul>
                </li>
                <li class="ps-3"><a href="#" class="" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets/avatar.jpg" height="40px" width="40px" alt="" class="rounded"> Kowdi
                        Raju
                        <i class="bi bi-chevron-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person pe-2"></i> Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-pie-chart pe-2"></i> Analytics</a>
                        </li>
                        <hr>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear pe-2"></i> Settings & Privacy</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-question-circle pe-2"></i> Help
                                Center</a>
                        </li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</section>