<section>
    <div class="footer m-3 ">
        <div class="footer-content">

            <ul class="list-unstyled d-flex">
                <li><a href="#" class="link-dark"><span>AdminKit</span> - <span>Bootstrap Admin Template
                            &#169;</span></a></li>
                <li class="ms-auto ps-3"><a href="#" class="link-dark ">Support</a></li>
                <li class="ps-3"><a href="#" class=" link-dark ">Help Center</a></li>
                <li class="ps-3"><a href="#" class=" link-dark ">Privacy</a></li>
                <li class="ps-3"><a href="#" class=" link-dark ">Terms</a></li>
            </ul>

        </div>
    </div>
</section>