<section>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-items">
            <h5 class="py-3 px-4 m-0"><a [routerLink]="['/dash/profile']">AdminKit</a></h5>
            <ul class=" list-unstyled">
                <p class="px-4 pt-3 pb-2 m-0 ">Pages</p>
                <li class="px-5 py-2 "><a [routerLink]="['/dash/dashboard']"><i class="bi bi-sliders2-vertical me-2"></i>
                        Dashboard</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-person me-2"></i> Profile</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/auth/login']"><i class="bi bi-box-arrow-in-right me-2"></i> Sign
                        In</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/auth/signup']"><i class="bi bi-person-plus me-2"></i> Sign Up</a>
                </li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-box2 me-2"></i> Blank</a></li>
                <p class="px-4 pt-3 pb-2 m-0">Tools & Components</p>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-square me-2"></i> Buttons</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-check2-square me-2"></i> Forms</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-grid me-2"></i> Cards</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-text-left me-2"></i> Typography</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-cup-hot me-2"></i> Icons</a></li>
                <p class="px-4 pt-3 pb-2 m-0">Plugins & Assons</p>
                <li class="px-5 py-2"><a [routerLink]="['/dash/profile']"><i class="bi bi-bar-chart me-2"></i> Charts</a></li>
                <li class="px-5 py-2"><a [routerLink]="['/map']"><i class="bi bi-map me-2"></i> Maps</a></li>

            </ul>
            <div class="card p-3 m-4 ">
                <h6>Upgrade to Pro</h6>
                <p class="small">Are you looking for more components? Check out our premium version.</p>
                <button class="btn btn-primary px-3">Upgrade to Pro</button>
            </div>
        </div>

    </div>
</section>