<section>
    <div class="signUp p-5 border d-flex align-items-center justify-content-center ">
        <div class="signUp-content mx-auto ">
            <div class="row p-3 g-0">
                <div class="col-6 firstTopic ">
                    <h2 class="cardPTage"><b>Contentful</b></h2>
                    <div class="row me-2">
                        <p class="fw-normal mb-4">Start building with Contentful.</p>
                        <ul class="col-8 ">
                            <div class="d-flex mt-4 me-5 me-5">
                                <span><i class="bi bi-check2 bg-warning rounded-5 px-1 text-dark me-3 "></i></span>
                                <li>your favorite tech stack, language, and framework of your choice.</li>
                            </div>
                            <div class="d-flex mt-4 me-5 me-5">
                                <span><i class="bi bi-check2 bg-warning rounded-5 px-1 text-dark me-3"></i></span>
                                <li>A full-featured composable content platform — REST and GraphQL APIs for
                                    content
                                    management, preview, and delivery.</li>
                            </div>
                            <div class="d-flex mt-4 me-5">
                                <span><i class="bi bi-check2 bg-warning rounded-5 px-1 text-dark me-3"></i></span>
                                <li>Open and extensible — SDKs for major languages and an App Framework to
                                    extend your
                                    interface.</li>

                            </div>

                        </ul>
                    </div>

                    <div class="industryLeaders ">
                        <h4>Trusted by industry leaders</h4>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="bg-white card card-hover p-5">
                        <h1 class="m-0">Start building for free</h1>
                        <div class="form-group row mt-3 ">
                            <div class="col-sm-6">
                                <button class="btn form-control "><img src="../../assets/github.png">
                                    Sign up
                                    with GitHub</button>

                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn2 form-control"> <img class="img2"
                                        src="../../assets/gmail logo.png"> Sign up with
                                    Google</button>
                            </div>
                        </div>
                        <div class="form-group mt-5 ">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" formControlName="fullName" id="fullName">
                        </div>
                        <div class="form-group mt-3  ">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" formControlName="email" id="email">
                        </div>
                        <div class="form-group mt-3 ">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" formControlName="company" id="company">
                        </div>
                        <div class="form-group mt-3 ">
                            <label for="jobTitle">Job Title</label>
                            <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle">
                        </div>
                        <div class="form-group mt-3 ">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" formControlName="country" id="country">
                        </div>
                        <div class="form-group mt-3 ">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" formControlName="password" id="password">
                        </div>
                        <div class="form-group row mt-3">
                            <div class="col-sm-6  mx-auto">
                                <button class="btn btn-warning text-center form-control signUpBtn ">Sign
                                    up</button>

                            </div>

                        </div>
                        <p class="text-center mt-3">Already have an account?<a [routerLink]="['/auth/login']"
                                class="text-decoration-none text-info  Gotologin"> Login</a></p>
                    </div>

                </div>

            </div>





        </div>
    </div>


</section>