<section>
    <div class="profile p-5 ">
        <div class="profile-content ">
            <div class="title d-flex align-items-center mb-3">
                <p class="fs-4 ">Profile</p>
                <a href="#" class="align-items-center ms-2"><span class="badge text-bg-dark">Get more page
                        examples</span></a>
            </div>
            <div class="main-content">
                <div class="row g-0">
                    <div class="col-12 col-md-3 ps-0 pe-2 ">
                        <div class="card card-hover border p-3">
                            <p class=" cardPTage"><b>Profile Details</b></p>
                            <div class="align-items-center text-center mt-3">
                                <img src="../../assets/avatar.jpg" alt="" height="100px" width="100px"
                                    class="rounded-circle">
                                <p class=" cardPTage mt-1 fs-4"><b>Kowdi Raju</b></p>
                                <p class="">Front End Developer</p>
                                <div class="buttons mt-1">
                                    <button class="card-buttons text-light px-2 border-0 me-1">Follow</button>
                                    <button class=" card-buttons text-light px-2 border-0"><i
                                            class="bi bi-chat-left"></i> Message</button>
                                </div>
                            </div>
                            <hr class="full-width-hr">
                            <div class="skills">
                                <p class=" cardPTage mb-3"><b>Skills</b></p>
                                <p class="float-start me-2"><span class="badge ">HTML</span></p>
                                <p class="float-start me-2"><span class="badge ">CSS</span></p>
                                <p class="float-start me-2"><span class="badge ">JavaScript</span></p>
                                <p><span class="badge ">Angular</span></p>
                                <p class="float-start me-2"><span class="badge  ">Rxjs</span></p>
                                <p class="float-start me-2"><span class="badge ">Bootstrap</span></p>
                                <p class="float-start me-2"><span class="badge ">UI</span></p>
                                <p><span class="badge ">UX</span></p>
                            </div>
                            <hr class="full-width-hr">
                            <div class="about">
                                <p class=" cardPTage mb-3"><b>About</b></p>
                                <p><i class="bi bi-house-door me-1"></i> Lives in <a href="#">Hyderabad, TG</a></p>
                                <p><i class="bi bi-suitcase-lg me-1"></i> Works at <a href="#">Cognizant</a></p>
                                <p><i class="bi bi-geo-alt me-1"></i> From <a href="#">Hyderabad</a></p>
                            </div>
                            <hr class="full-width-hr">
                            <div class="Education">
                                <p class=" cardPTage mb-3"><b>Education</b></p>
                                <p><i class="bi bi-book me-1"></i> Specialization <a href="#">BSc, Computer Science</a>
                                </p>
                                <p><i class="bi bi-building me-1"></i> Studied at <a href="#">Osmania Univercity</a></p>
                                <p><i class="bi bi-geo-alt me-1"></i> From <a href="#">Hyderabad</a></p>
                            </div>
                            <hr class="full-width-hr">
                            <div class="Experience">
                                <p class=" cardPTage mb-3"><b>Experience</b></p>
                                <p><i class="bi bi-pen me-1"></i> Front End Developer at <a href="#">Nexsway Pvt Ltd,
                                        Nov-2022 to Feb-2024</a></p>
                                <p><i class="bi bi-pen me-1"></i> Senior Process Executive at <a href="#">Cognizant,
                                        July-2018 to July-2022</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 ps-2 pe-0 ">
                        <div class="card  border p-3">
                            <p class=" cardPTage mb-3"><b>Activities</b></p>
                            <div class="activity-content1  ">
                                <p class="fw-semibold mb-2">Professional Summary</p>
                                <ul class="mb-2">
                                    <li class="fw-normal">5 years of total experience & 1.5 years of relevant experience
                                        working in a corporate
                                        environment as a front-end UI web developer. Strong technical skills in complex
                                        website development.</li>
                                    <li>Involve in the development of the application using HTML5, CSS3, Bootstrap,
                                        Javascript, JSON and Angular.</li>
                                    <li>Ability to create beautiful web applications writing top notch HTML5, CSS3,
                                        JavaScript
                                        code.</li>
                                    <li>Experience on working with Custom Directives, Components, Services, Modules of
                                        Angular. </li>
                                    <li>Excellent working knowledge and thorough exposure on cross browser / cross
                                        device
                                        compatibility, with emphasis on Responsive Design principles and Interactive Web
                                        Design from a simple transition effect to parallax scrolling, rich media
                                        presentations. </li>
                                    <li>Worked in various version control systems - GIT.</li>
                                </ul>

                                <button class="btn btn-sm btn-danger small likeBtn position-relative"
                                    (click)="onLike()"><i class="bi bi-heart"></i> Like<span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success likeBadge">
                                        0
                                        <span class="visually-hidden">unread messages</span>
                                    </span></button>
                                <button class="btn btn-sm btn-info small ms-4 CommentBtn position-relative"
                                    (click)="onComment()"><i class="bi bi-chat-text"></i> Comment<span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success commentBadge">
                                        0
                                        <span class="visually-hidden">unread messages</span>
                                    </span></button>
                            </div>
                            <hr>
                            <div class="activity-content2">
                                <p class="fw-semibold mb-2">Previous Works</p>
                                <div class="card card-hover border p-3 mb-3 ">
                                    <p class=" cardPTage"><b>We wonders</b></p>
                                    <p class="fw-lighter mb-4">An International school website.</p>
                                    <iframe width="100%" height="500px" src="https://www.wewonders.com/" frameborder="0"
                                        marginheight="0" marginwidth="0"></iframe>
                                </div>
                                <div class="card card-hover border p-3 ">
                                    <p class=" cardPTage"><b>BigWig Investments</b></p>
                                    <p class="fw-lighter mb-4">An investment advisory website.</p>
                                    <iframe width="100%" height="500px"
                                        src="https://kowdiraju.github.io/Project1/project1.html#home" frameborder="0"
                                        marginheight="0" marginwidth="0"></iframe>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>