p{
    margin: 0;
}
.title .badge:hover{
    text-decoration: underline;
}
.cardPTage{
    color: #939ba2;
}
.card-buttons{
    background-color: #3b7ddd;
}
.card-buttons:hover{
   background-color:#3b7cddc9 ;
}
.full-width-hr {
    margin-left: -1rem;
    margin-right: -1rem;
}
.badge{
    background-color: #3b7ddd; ;
}
.about a{
    text-decoration: none;
    color: #3B7DDD;
    
}
.about a:hover{
    text-decoration: underline;
}

.Education a{
    text-decoration: none;
    color: #3B7DDD;
}
.Education a:hover{
    text-decoration: underline;
}
.Experience a{
    text-decoration: none;
    color: #3B7DDD;
}
.Experience a:hover{
    text-decoration: underline;
}
.card-hover:hover {
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}




