.wrapper1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f6f2eb;
}
.login-container{
    width: 400px;
    margin: 5em auto 0px;
    border-radius: 20px;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ff7213;

}
.card{
    margin: 30px auto ;
    border-radius: 20px;
}
.btn{
    background-color: #18bd5b;
}

.card2{
    overflow: hidden;
    margin: 100px auto ;
}
input{
    background-color: #e5efef;
}
.btn2{
    background-color: #07cca0;

}
.wrapper3{
    width: 100%;
    height: 100%;
    background-color: #0186e5;
}
.btn3{
    background-color: #0186e5;
}
h2{
    color:#0186e5;
}