<div class="section">
    <div class="dashboard p-5 ">
        <div class="dashboard-content ">
            <p class="fs-4 mb-3"><b>Analytics</b> Dashboard</p>
            <div class="row g-0 mb-3">
                <div class=" col-12 col-md-5 ps-0 pe-2">
                    <div class="row g-0">
                        <div class="col-6 ps-0 pe-2 mb-3">
                            <div class="card border card-hover h-100 p-3" >
                                <div class="d-flex">
                                    <p class=" cardPTage"><b>Sales</b></p>
                                    <a href="#" class="rounded-circle bg-info position-relative ms-auto " style="height: 40px; width: 40px;"><i class="bi bi-truck cardIcon" ></i></a>
                                </div>
                               
                                <p class="fs-2">2.382</p>
                                <p class="cardPTage mt-1"><span class="text-danger">-3.65%</span> Since last week</p>
                            </div>
                        </div>
                        <div class="col-6 ps-2 pe-0 mb-3 ">
                            <div class="card border card-hover h-100 p-3">
                                <div class="d-flex">
                                    <p class=" cardPTage"><b>Earnings</b></p>
                                    <a href="#" class="rounded-circle bg-info position-relative ms-auto " style="height: 40px; width: 40px;"><i class="bi bi-currency-dollar cardIcon"></i></a>
                                </div>
                               
                                <p class="fs-2">$21.300</p>
                                <p class="cardPTage mt-1"><span class="text-success">6.65%</span> Since last week</p>
                            </div>
                        </div>
                        <div class="col-6 ps-0 pe-2 ">
                            <div class="card border card-hover h-100 p-3">
                                <div class="d-flex">
                                    <p class=" cardPTage"><b>Visitors</b></p>
                                    <a href="#" class="rounded-circle bg-info position-relative ms-auto " style="height: 40px; width: 40px;"><i class="bi bi-person cardIcon"></i></a>
                                </div>
                               
                                <p class="fs-2">14.212</p>
                                <p class="cardPTage mt-1"><span class="text-success">5.25%</span> Since last week</p>
                            </div>
                        </div>
                        <div class="col-6  ps-2 pe-0  ">
                            <div class="card border card-hover h-100 p-3">
                                <div class="d-flex">
                                    <p class=" cardPTage"><b>Orders</b></p>
                                    <a href="#" class="rounded-circle bg-info position-relative ms-auto " style="height: 40px; width: 40px;"><i class="bi bi-cart cardIcon"></i></a>
                                </div>
                               
                                <p class="fs-2">64</p>
                                <p class="cardPTage mt-1"><span class="text-danger">-2.25%</span> Since last week</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-7 ps-2 pe-0   ">
                    <div class="card  border card-hover h-100 p-3">
                        <p class=" cardPTage"><b>Recent Movement</b></p>
                    </div>
                </div>

            </div>
            <div class="row g-0 mb-3">
                <div class="col ps-0 pe-2">
                    <div class="card  border card-hover h-100 p-3">
                        <p class=" cardPTage"><b>Calender</b></p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ps-2 pe-2">
                    <div class="card  border card-hover h-100 p-3">
                        <p class=" cardPTage"><b>Real-Time</b></p>
                    </div>
                </div>
                <div class="col ps-2 pe-0">
                    <div class="card  border card-hover h-100 p-3">
                        <p class=" cardPTage"><b>Browser Usage</b></p>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-12 col-md-9  ps-0 pe-2">
                    <div class="card  border card-hover h-100">
                        <p class="cardPTage p-3"><b>Latest Projects</b></p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Assignee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Project Apollo</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-success">Done</span></td> 
                                    <td>Vanessa Tucker</td>
                                </tr>
                                <tr>
                                    <td>Project Fireball</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-danger">Cancelled</span></td>
                                    <td>William Harris</td>
                                </tr>
                                <tr>
                                    <td>Project Hades</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-warning">In progress</span></td>
                                    <td>Sharon Lessman</td>
                                </tr>
                                <tr>
                                    <td>Project Apollo</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-success">Done</span></td> 
                                    <td>Vanessa Tucker</td>
                                </tr>
                                <tr>
                                    <td>Project Apollo</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-success">Done</span></td> 
                                    <td>Vanessa Tucker</td>
                                </tr>
                                <tr>
                                    <td>Project Hades</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-warning">In progress</span></td>
                                    <td>Sharon Lessman</td>
                                </tr>
                                <tr>
                                    <td>Project Fireball</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-danger">Cancelled</span></td>
                                    <td>William Harris</td>
                                </tr>
                                <tr>
                                    <td>Project Hades</td>
                                    <td>01/01/2023</td>
                                    <td>31/06/2023</td>
                                    <td><span class="badge text-bg-warning">In progress</span></td>
                                    <td>Sharon Lessman</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col ps-2 pe-0">
                    <div class="card  border card-hover h-100 p-3">
                        <p class=" cardPTage"><b>Monthly Sales</b></p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>